@import url("../node_modules/react-grid-layout/css/styles.css");
@import url("../node_modules/react-resizable/css/styles.css");
@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");

html, #mainDiv {
    padding:5px;
}

html, body, #mainDiv {
	height:100%;
	width:100%;
}

#mainDiv {
    background-color: #3575e540;
}

.wnd-border {
	border:#35a5e5 1px solid;
	box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.btn:focus, .btn:active:focus {
	outline:none;
}
