@import url("../node_modules/react-grid-layout/css/styles.css");
@import url("../node_modules/react-resizable/css/styles.css");
@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");

body {
    background-color: #fff;
}

.layout {
    background-color: rgba(100, 50, 40, 0.5);
}

.btn:focus {
  outline: none;
}
